body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  line-height: 2;
  font-size: 3rem;
  margin: 3%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 80%;
  margin: auto;
}

.start-button {
  font-family: 'Press Start 2P', cursive;
  border: 2px solid black;
  border-radius: 10%;
  margin-top: 50px;
  height: 50px;
  width: 200px;
  display: none;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 768px) {
  #level-title {
    margin: 50px 0;
    font-size: 1rem;
  }

  .container {
    width: 100%;
  }

  .start-button {
    display: inline-block;
  }

  .btn {
    margin: 10px;
    height: 120px;
    width: 120px;
    border: 3px solid black;
  }
}